[submodule "plugins/welcome"]
	path = plugins/welcome
	url = http://github.com/ProLoser/CakePHP-Welcome.git
[submodule "plugins/upload_pack"]
	path = plugins/upload_pack
	url = http://github.com/ProLoser/uploadpack.git
[submodule "plugins/debug_kit"]
	path = plugins/debug_kit
	url = http://github.com/cakephp/debug_kit.git
