<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>BlueGlow Site Template</title>
 <!--[if gte IE 7]>
    <link rel="stylesheet" media="screen" type="text/css" href="css/ie7.css" />
    <![endif]-->
<!--[if lte IE 6]>
	 <script type="text/javascript" src="js/supersleight-min.js"></script>
 <![endif]-->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script language="JavaScript" type="text/javascript" src="js/stepcarousel.js"></script>
<script language="JavaScript" type="text/javascript" src="js/jquery.lightbox-0.5.min.js"></script>
<script type="text/javascript">
    $(function() {
       $('a.lightbox').lightBox();
    });
 </script>


</head>

<body>
<!-- begin wrapper -->
<div id="wrapper">
	<!-- begin header -->
	<div id="header">
		<div id="logo"><h1><a href="/">BlueGlow</a></h1></div>
		<ul id="topMenu">
			<li><a href="index.html">home</a></li>
			<li><a href="about.html">about us</a></li>
			<li><a href="services.html">services</a></li>
			<li><a href="portfolio.html">our work</a></li>
			<li class="selected"><a href="#">blog</a></li>
			<li><a href="contact.html">contact</a></li>
		</ul>
		<form id="topSearch" action="" method="post">
			<input type="text" id="q" name="q" value="search in site" onclick="this.value='';" onblur="this.value='search in site';"/>
			<input type="submit" value="" class="submit" />
		</form>
	</div>
	<!-- end header -->
	
	<!-- begin content -->
	<div id="content" class="clearfix columns">
	<!-- begin colLeft -->
	<div id="colLeft">
		<h1>Our Blog</h1>	
		<!-- blog item -->
		<div class="blogItem">
		<h2><a href="#">Working with Sessions and Cookies in PHP and MYSQL</a></h2>
		<span class="metadata"><img src="images/ico_post_home.png" alt="Posted on"/> April 23, 2009 
				&nbsp;&nbsp;| &nbsp;&nbsp;Posted in <a href="#">Category1</a>, <a href="#">Category2</a> &nbsp;&nbsp;|&nbsp;&nbsp; <img src="images/ico_comments_home.png" alt="Comments" /> <a href="#">2 comments</a></span>
		<p><img src="images/sample_post1.jpg" alt=" " /></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		<a href="#" class="readmore">Read more</a>
		</div>
		
		<!-- blog item -->
		<div class="blogItem">
		<h2><a href="#">Working with Sessions and Cookies in PHP and MYSQL</a></h2>
		<span class="metadata"><img src="images/ico_post_home.png" alt="Posted on"/> April 23, 2009 
				&nbsp;&nbsp;| &nbsp;&nbsp;Posted in <a href="#">Category1</a>, <a href="#">Category2</a> &nbsp;&nbsp;|&nbsp;&nbsp; <img src="images/ico_comments_home.png" alt="Comments" /> <a href="#">2 comments</a></span>
		<p><img src="images/sample_post.jpg" alt=" " /></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		<a href="#" class="readmore">Read more</a>
		</div>
		
		<!-- blog item -->
		<div class="blogItem">
		<h2><a href="#">Working with Sessions and Cookies in PHP and MYSQL</a></h2>
		<span class="metadata"><img src="images/ico_post_home.png" alt="Posted on"/> April 23, 2009 
				&nbsp;&nbsp;| &nbsp;&nbsp;Posted in <a href="#">Category1</a>, <a href="#">Category2</a> &nbsp;&nbsp;|&nbsp;&nbsp; <img src="images/ico_comments_home.png" alt="Comments" /> <a href="#">2 comments</a></span>
		<p><img src="images/sample_post2.jpg" alt=" " /></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		<a href="#" class="readmore">Read more</a>
		</div>
		
		
	</div>
	<!-- end colleft -->
	
	<!-- begin colRight -->
	<div id="colRight">
		<h2>Blog Categories</h2>
		<ul id="subCategs">
			<li><a href="#">Blog Category (23)</a></li>
			<li><a href="#">Blog Category (12)</a></li>
			<li><a href="#">Blog Category (8)</a></li>
			<li><a href="#">Blog Category (16)</a></li>
						
		</ul>
		
		<!-- rss box -->
		<div class="rss clearfix">
			<a href="#"><img src="images/rss_icon.jpg" alt="RSS Feed" /></a>
			<p><strong>Feed yourself!</strong> <br />Subscribe to our blog <strong><a href="#">RSS Feed</a></strong></p>
			</div>
			
		<!-- get in touch -->
		<h2 class="home">Get in touch</h2>
			  <p>We will be happy to hear from you, no matter the subject. For contacting us please use our <a href="#">contact page</a> or the info bellow.</p>
			  <p><strong>Phone:</strong> +123456789<br />
				<strong>Mobile:</strong> +123456789<br /></p>
				<p><strong>Email:</strong> <a href="mailto:#">office[at]blueglow[dot]com</a></p>
			    <a href="#"><img src="images/twitter.jpg" alt="Follow us on Twitter" border="0" /></a>  
	
	</div>
	<!-- end colRight -->
	
	</div>
	<!-- end content -->
	
</div>
<!-- end wrapper -->

<!-- begin footer -->
	<div id="footer">
		© 2009 BlueGlow.com. All Right Reserved.
 		<img src="images/footer_mark.gif" alt="" class="footerMark"/>
	</div>

<!-- end footer -->
			

</body>
</html>
