<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>BlueGlow Site Template</title>
 <!--[if gte IE 7]>
    <link rel="stylesheet" media="screen" type="text/css" href="css/ie7.css" />
    <![endif]-->
<!--[if lte IE 6]>
	 <script type="text/javascript" src="js/supersleight-min.js"></script>
 <![endif]-->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script language="JavaScript" type="text/javascript" src="js/jquery.form.js"></script>
<script language="JavaScript" type="text/javascript" src="js/stepcarousel.js"></script>
<script language="JavaScript" type="text/javascript" src="js/jquery.lightbox-0.5.min.js"></script>

<script type="text/javascript">
 $(document).ready(function(){
	  $('#contact').ajaxForm(function(data) {
		 if (data==1){
			 $('#success').fadeIn("slow");
			 $('#bademail').fadeOut("slow");
			 $('#badserver').fadeOut("slow");
			 $('#contact').resetForm();
			 }
		 else if (data==2){
				 $('#badserver').fadeIn("slow");
			  }
		 else if (data==3)
			{
			 $('#bademail').fadeIn("slow");
			}
			});
		 });
</script>


</head>

<body>
<!-- begin wrapper -->
<div id="wrapper">
	<!-- begin header -->
	<div id="header">
		<div id="logo"><h1><a href="/">BlueGlow</a></h1></div>
		<ul id="topMenu">
			<li><a href="index.html">home</a></li>
			<li><a href="about.html">about us</a></li>
			<li><a href="services.html">services</a></li>
			<li><a href="portfolio.html">our work</a></li>
			<li><a href="blog.html">blog</a></li>
			<li  class="selected"><a href="#">contact</a></li>
		</ul>
		<form id="topSearch" action="" method="post">
			<input type="text" id="q" name="q" value="search in site" onclick="this.value='';" onblur="this.value='search in site';"/>
			<input type="submit" value="" class="submit" />
		</form>
	</div>
	<!-- end header -->
	
	<!-- begin content -->
	<div id="content" class="clearfix columns">
	<!-- begin colLeft -->
	<div id="colLeft">
		<h1>Contact Us</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
Lorem ipsum dolor sit amet, consectetur.</p>
			
			<p id="success" class="successmsg" style="display:none;">Your email has been sent! Thank you!</p>
			<p id="bademail" class="errormsg" style="display:none;">Please enter a valid email.</p>
			<p id="badserver" class="errormsg" style="display:none;">Your email failed. Try again later.</p>

			<form id="contact" action="sendmail.php" method="post">
			<label for="name">Your name: *</label>
				<input type="text" id="nameinput" name="name" value=""/>
			<label for="email">Your email: *</label>
				<input type="text" id="emailinput" name="email" value=""/>
			<label for="comment">Your message: *</label>
				<textarea cols="20" rows="7" id="commentinput" name="comment"></textarea><br />
			<input type="submit" id="submitinput" class="submit" value=""/>
			</form>
		
		
	</div>
	<!-- end colleft -->
	
	<!-- begin colRight -->
	<div id="colRight">
		<h2>Blog Categories</h2>
		<ul id="subCategs">
			<li><a href="#">Blog Category (23)</a></li>
			<li><a href="#">Blog Category (12)</a></li>
			<li><a href="#">Blog Category (8)</a></li>
			<li><a href="#">Blog Category (16)</a></li>
						
		</ul>
		
		<!-- rss box -->
		<div class="rss clearfix">
			<a href="#"><img src="images/rss_icon.jpg" alt="RSS Feed" /></a>
			<p><strong>Feed yourself!</strong> <br />Subscribe to our blog <strong><a href="#">RSS Feed</a></strong></p>
			</div>
			
		<!-- get in touch -->
		<h2 class="home">Get in touch</h2>
			  <p>We will be happy to hear from you, no matter the subject. For contacting us please use our <a href="#">contact page</a> or the info bellow.</p>
			  <p><strong>Phone:</strong> +123456789<br />
				<strong>Mobile:</strong> +123456789<br /></p>
				<p><strong>Email:</strong> <a href="mailto:#">office[at]blueglow[dot]com</a></p>
			    <a href="#"><img src="images/twitter.jpg" alt="Follow us on Twitter" border="0" /></a>  
	
	</div>
	<!-- end colRight -->
	
	</div>
	<!-- end content -->
	
</div>
<!-- end wrapper -->

<!-- begin footer -->
	<div id="footer">
		© 2009 BlueGlow.com. All Right Reserved.
 		<img src="images/footer_mark.gif" alt="" class="footerMark"/>
	</div>

<!-- end footer -->
			

</body>
</html>
